<div class="form-container">
    <mat-card class="song-form-card">
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="cancionForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="titulo" required>
                    <mat-error *ngIf="cancionForm.get('titulo')?.hasError('required')">
                        El título es requerido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Artista</mat-label>
                    <input matInput formControlName="artista" required>
                    <mat-error *ngIf="cancionForm.get('artista')?.hasError('required')">
                        El artista es requerido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Álbum</mat-label>
                    <input matInput formControlName="album" required>
                    <mat-error *ngIf="cancionForm.get('album')?.hasError('required')">
                        El álbum es requerido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Año</mat-label>
                    <input matInput formControlName="anno" required>
                    <mat-error *ngIf="cancionForm.get('anno')?.hasError('required')">
                        El año es requerido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Género</mat-label>
                    <input matInput formControlName="genero" required>
                    <mat-error *ngIf="cancionForm.get('genero')?.hasError('required')">
                        El género es requerido.
                    </mat-error>
                </mat-form-field>

                <mat-card-actions class="form-actions">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!cancionForm.valid">
                        Guardar Canción
                    </button>
                    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>